<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    
    <!-- Loading the properties file -->
    <context:property-placeholder location="classpath:field.properties"/>
    
    <bean id="myFortune"
    		class="org.ncu.springcoupling.HappyEnglishFortuneService">
    </bean>
   
   <bean id="myFreFortune"
   		class="org.ncu.springcoupling.HappyFrenchFortuneService">
   </bean>
    
    <bean 
 		id="myEngService" class="org.ncu.springcoupling.EnglishGreetingService">
 		<constructor-arg ref="myFortune"></constructor-arg>
    </bean>
    
    
     <bean 
 		id="mySpaService" class="org.ncu.springcoupling.SpanishGreetingService">
 		<property name="EmailAddress" value="${email}"></property>
 		<property name="Address" value="${address}"></property>
    </bean>
    
     <bean 
 		id="myFreService" class="org.ncu.springcoupling.FrenchGreetingService">
 		<property name="ForService" ref="myFreFortune"></property>
    </bean>
    
</beans>





